.changeLog_main {
  width: 100%;
  min-height: calc(100vh - 112px);
  background-color: #111827;
  padding: 1rem 0rem;
}

.changeLog_body {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}

.changeLog_item {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.changeLog_time {
  flex: 2;
  flex-shrink: 0;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #adb4c1;
  padding-block: 6px;
  gap: 2px;
  flex-shrink: 0;
}

.changeLog_time > div:nth-child(2) {
  text-transform: uppercase;
  font-size: 12px;
}

.changeLog_info {
  flex: 9;
  padding-inline: 0rem;
  padding-inline: clamp(0rem, -3.28125rem + 6.8359375vw, 2.1875rem);
  color: #fff;
}

.changLog_info_head {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 0.63rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.25rem;
}

.field_item_parent {
  display: flex;
}


.markdown-body{
  font-size: var(--font-medium);
}

.field_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35rem 1rem;
  border-radius: 2rem;
  font-size:var(--font-medium)
}

.field_item + .field_item {
  margin-left: 0.5rem;
}
.loans {
  background-color: #4867ff;
}

.direct {
  background-color: #ecfc39;
}

.credit {
  background-color: #8956f0;
}

.chg_lg_hvr_head {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chg_lg_hvr_head:hover .ancr_head {
  opacity: 1;
}

.ancr_head {
  width: 18px;
  height: 18px;
  filter: invert(1);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.chg_lg_hvr_title {
  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .changeLog_item {
    flex-direction: column;
    gap: 5px;
  }
  .changeLog_info {
    padding-inline: 0;
  }

  .changeLog_time {
    align-items: flex-start;
  }
}
