.docs_head {
  color: white;
  background-color: #111827;
}

.document_page_parent {
  max-width: 1440px;
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.docs_nav_btn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: var(--font-medium);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.docs_nav_btn:hover {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
}

.docs_nav_icon {
  width: 0.75rem;
  height: 0.75rem;
  filter: invert(100%);
  transition: all 100ms ease-in-out;
}

.docs_nav_icon.open {
  transform: rotate(90deg);
}

.docs_nav_lst {
  padding-left: 1.25rem;
  height: 0;
  transition: all 300ms ease-in-out;
}

.docs_nav_lst.open {
  height: fit-content;
  max-height: fit-content;
}

.docs_nav_item {
  border-radius: 0.25rem;
}

.docs_nav_item:hover {
  background-color: #303b42;
}

.docs_nav_item.active {
  background-color: #303b42;
}

.document_asd_head {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  font-size: 0.85rem;
  font-weight: 900;
}

.document_main {
  min-height: 100vh;
  flex-shrink: 1;
  width: 100%;
  color: white;
}

.document_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 0.25rem;
}

.document_main_content {
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.side_bar {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.toc_main {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
}

.toc_header {
  font-size: 0.75rem;
  margin-left: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
}

.toc_lst {
  font-size: 0.875rem;
}

.toc_lst>*+* {
  margin-top: 0.5rem;
}

.toc_ele {
  display: block;
  cursor: pointer;
  font-size: var(--font-medium);
  text-align: left;
  color: #e5e7eb;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  transition: color 0.3s ease;
}

.toc_ele:hover {
  color: #2563eb;
}

@media (min-width: 640px) {
  .document_body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .side_bar {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
  }

  .document_body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1100px) {
  .side_bar {
    display: none;
  }
}