.guides_main_s {
  display: flex;
  overflow: initial;
}

.sidebar_wrapper_refernce {
  height: 100%;
  /* overflow-y: auto; */
  width: 280px;
  border-right: 1px solid #ddd;
  background: #fafafa;
}

.guides_content {
  max-height: 100vh;
  flex: 1;
  /* overflow-y: auto; */
  padding: 0.5rem;
}

.sidebar_wrapper {
  border-right: 1px solid #ddd;
  background: #fafafa;
}

.guide_content_page h1 {
  margin-bottom: 1rem;
}

.docs_nav_item.active {
  background: #e5f2ff;
  color: black;
  border-left: 3px solid #007bff;
}

.api_doc_page {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #1f1f1f;
}

.api_doc_page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.api_doc_page h2 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.api_doc_page pre {
  background: #f6f8fa;
  padding: 10px;
  border-radius: 8px;
  /* overflow-x: auto; */
  font-family: monospace;
}

.api_doc_page ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.api_doc_page strong {
  color: #222;
}


