.header {
  border-bottom-width: 1px;
  background-color: #0d0e14;
  border-color: rgba(243, 244, 246, 0.5);
}

.header_main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 1.5rem;
}

.main_title{
  display: flex;
  gap: 6px;
  align-items: center;
}

.title_name{
  font-size: 20px;
}

.fp{
    color: red;
}

.sp{
    color: #def108;
}

.desktop_nav {
  display: none;
  height: 3rem;
  padding-top: 0.75rem;
  align-items: center;
  justify-content: space-between;
}

.header_lg_btn {
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.header_lg_btn:hover {
  border: 1px solid var(--border-color);
}

.hamburger_btn {
  width: 30px;
  height: 30px;
}

.hamburger_icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: invert(1);
}

.tablet_nav {
  height: 3.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tablet_nav_main {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.tablet_nav_chg {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.desktop_nav_btm {
  display: flex;
  gap: 2rem;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.desktop_nav_btm_left {
  display: none;
  height: 100%;
}
.desktop_nav_btm_left_ul {
  height: 100%;
  gap: 1.5rem;
}
.desktop_nav_btm_left_ul > * {
  margin-left: 2px;
}

.desk_nav_item {
  height: 100%;
  padding-top: 0.75rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.desk_nav_item.active_route {
  border-bottom: 2px solid #2563eb;
}

.desk_nav_item_text {
  color: #ffffff;
  font-size: var(--font-medium);
  font-weight: 600;
}

.mobile_nav {
  flex: 2;
  width: 100%;
}

.mobile_nav_btn {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mobile_nav_btn_label {
  font-size: 0.875rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  /*overflow: hidden; */
}

.search_ele {
  display: flex;
  flex: 1 1 0%;
  position: relative;
  align-items: center;
  height: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 0;
}

.search_field {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 100%;
}
.search_field input {
  width: 120px;
  outline: 0;
  transition: all 150ms ease-in-out;
}
.search_field input::placeholder {
  font-size: 15px;
}

.increase_size input {
  width: 200px;
}

.search_icon {
  height: 100%;
  width: 1rem;
  display: flex;
  align-items: center;
}

.search_icon + input::placeholder {
  font-weight: 500;
}

.search_icon_img {
  filter: invert(0.5);
  height: 15px;
  width: 15px;
  display: flex;
  align-items: baseline;
}

.ctrl {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-weight: 600;
  animation: ctrl 200ms 1 ease-in-out;
}

@keyframes ctrl {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hamburger_menu {
  position: absolute;
  width: 100vw;
  max-width: 288px;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: rgb(20, 20, 20);
  transition: transform 100ms ease-in-out;
}
.hamburger_menu.open {
  transform: translateX(0);
}

.hamburger_list {
  padding: 1.25rem;
}

.hamburger_link {
  height: 3.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.hamburger_link:hover {
  border: 1px solid var(--border-color);
}

.hamburger_breaker {
  margin-block: 3px;
}

.hamburger_log_in {
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  text-align: left;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid transparent;
}

.hamburger_log_in:hover {
  border: 1px solid var(--border-color);
}

.hamburger_logo {
  margin-top: 10px;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .xs .ctrl {
    display: none;
  }

  .xs input {
    width: 0;
  }

  .xs .increase_size input {
    width: 100px;
  }
  .search_ele {
    flex: inherit;
  }
}

@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
  }

  .tablet_nav {
    display: none;
  }
  .desktop_nav_btm {
    gap: 0; /* md:gap-0 overrides gap-8 */
  }

  .desktop_nav_btm_left {
    display: block;
  }
  .desktop_nav_btm_left_ul {
    display: flex;
  }

  .desktop_nav_btm_left_ul {
    display: flex;
  }

  .mobile_nav {
    display: none;
  }
}

@media (min-width: 640px) {
  .desktop_nav_btm_right {
    flex: 0 0 auto;
  }
  .search_field {
    gap: 0.5rem;
  }
  .search_ele {
    flex: 0 0 auto;
  }
}

