.code_top_parent {
  background-color: #303b42;
  margin-top: 1.2rem;
  border-radius: 5px;
  /* max-height: 475px; */
}

.code_multi_opt {
  display: none;
  position: absolute;
  left: 30;
  background-color: #1f2937;
  height: 90px;
  padding: 0.5rem;
  z-index: 50;
  border-radius: 4px;
}

.code_multi_opt.open {
  display: block;
}

.codes_heads_title {
  text-transform: uppercase;
  font-size: var(--font-medium);
  font-weight: 500;
  line-height: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.library_change_button {
  text-transform: uppercase;
  display: flex;
  gap: 0.375rem;
  align-items: center;
  border: 1px solid transparent;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: var(--font-medium);
  cursor: pointer;
  transition: border-color 0.2s;
}

.code_three_dot {
  position: relative;
}

.language_dropdown {
  display: none;
  position: absolute; /* absolute */
  right: 0; /* right-0 */
  z-index: 200; /* z-200 */
  background-color: #1f2937; /* bg-gray-800 */
  width: 13rem; /* w-52 = 208px (52 * 4px) */
  border-radius: 0.25rem; /* rounded = 4px */
  padding-top: 0.25rem; /* py-1 = 4px */
  padding-bottom: 0.25rem;
  border: 1px solid rgba(231, 231, 231, 0.103);
}

.language_dropdown.open {
  display: block;
}

.library_change_button:hover {
  border-color: rgba(229, 231, 235, 0.5); /* hover:border-gray-200/50 */
}

.code_main {
  max-height: 375px;
  /* overflow: hidden; */
}

.code_main_cp_btn_head {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border-top: 1px solid rgba(229, 231, 235, 0.2);
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.code_main_cp_btn {
  width: 1.25rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 1.25rem;
  cursor: pointer;
}

.code_main_try_btn {
  padding-left: 1rem; /* px-4 = 16px */
  padding-right: 1rem;
  background-color: #111827; /* bg-gray-900 */
  font-weight: 500; /* font-medium */
  border-radius: 0.5rem; /* rounded-lg = 8px */
  cursor: pointer;
}

.disabled{
  cursor: not-allowed;
}

.base_url_main {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: #303b42;
  border-radius: 0.25rem;
  border: 1px solid rgba(229, 231, 235, 0.2);
  height: 2.5rem;
}

.base_url_btn_head {
  /* flex-grow: 1; */
  flex-shrink: 0;
}

.base_url_btn {
  font-size: var(--font-medium);
  height: 100%;
  padding-inline:  0.5rem;
  border-right: 1px solid rgba(229, 231, 235, 0.2);
  flex-shrink: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.base_url {
  flex-grow: 2;
  font-size: var(--font-medium);
  /* padding-block: 1px; */
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-block: auto;
}

.base_url_dropdown {
  position: absolute;
  display: none;
  left: 0;
  top: 110%;
  z-index: 10;
  width: 310px;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  background-color: #303b42;
  border: 1px solid rgba(229, 231, 235, 0.2);
  border-radius: 0.25rem;
}

.base_url_dropdown.open {
  display: block;
}
.base_url_drp_fld {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.base_url_drp_fld.selected {
  background-color: #4b5563;
}

.base_url_drp_fld > div:first-child {
  display: flex;
  flex-direction: column;
}

.base_url_drp_fld:hover {
  background-color: #4b5563;
}

.check_icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.code_sticker {
  position: sticky;
  top: 0;
}

.example_main {
  width: 100%;
  background-color: #303b42;
  margin-top: 0.75rem;
  border-radius: 0.25rem;
  color: rgba(209, 213, 219, 0.8);
}

.example_btn {
  display: flex;
  position: relative;
  gap: 0.375rem;
  align-items: center;
  border: 1px solid transparent;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease;
}

.example_btn:hover {
  border-color: rgba(229, 231, 235, 0.2);
}

.example_dropdown {
  display: none;
  position: absolute;
  width: 200px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: left;
  z-index: 10;
  background-color: #303b42;
  border: 1px solid rgba(229, 231, 235, 0.2);
  border-radius: 0.25rem;
  top: 20px;
  right: 0;
}

.example_dropdown.open {
  display: flex;
  flex-direction: column;
}

.example_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  border-bottom: 1px solid rgba(229, 231, 235, 0.2);
}

.example_dropdown_div {
  display: flex;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

.example_dropdown_div:hover {
  background-color: #1f2937;
}

.example_dropdown_clr_btn {
  font-size: 0.875rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #f87171;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.example_dropdown_clr_btn:hover {
  background-color: rgba(254, 202, 202, 0.1);
}

.example_render_main {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border-top: 1px solid rgba(229, 231, 235, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}
