/* .main_dashboard {
  display: flex;
  flex-direction: column;
  background-color: hsl(221, 39%, 11%);
  overflow: auto;
  color: white;
}

.header_main_s {
  flex-shrink: 0;
  position: sticky; 
  z-index: 10;
  background-color: #242424;
  border-bottom: 1px solid #333;
}


.main_outlet {
  flex: 1;
  padding: 0.5rem;
} */

.main_dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;          /* VERY IMPORTANT */
  background-color: hsl(221, 39%, 11%);
  color: white;
}

.header_main_s {
  flex-shrink: 0;
  position: sticky;
  top: 0;                 /* REQUIRED for sticky */
  z-index: 100;
  background-color: #242424;
  border-bottom: 1px solid #333;
}

.main_outlet {
  flex: 1;
  overflow-y: auto;       /* ONLY THIS should scroll */
  padding: 0.5rem;
}