@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #e5e7eb33;
  --body_background: #111827;

  --gray-text-color: rgb(177, 174, 174);
  --light-gray: #303b42;

  --font-smallest: 12px;
  --font-small: 14px;
  --font-medium: 15px;
  --font-large: 1.5rem;
  --font-extra-large: 2rem;
}

html, body {
  margin: 0;
  /* overflow: auto; */
}

.hide-scrollbar {
  scrollbar-width: none;    
  -ms-overflow-style: none;  
}

.hide-scrollbar::-webkit-scrollbar { 
  display: none;             
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* overflow: hidden; */
  background: var(--background);
  color: var(--foreground);
  font-family: "Twemoji Country Flags", system-ui, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  
}

body.remove-overflow {
  /*overflow: hidden; */
}

.document_aside_menu {
  /* width: 288px; */
  background-color: var(--body_background);
  position: fixed;
  transform: scale(0.9);
  opacity: 0;
  z-index: 200;
  font-size: var(--font-medium) !important;
  /* overflow: auto; */
  top: 10;
  left: 10;
  pointer-events: none;
  max-height: 100vh;
}
.document_aside_menu.increase {
  transform: scale(1);
  opacity: 1;
  top: 20;
  left: 20;
  pointer-events: all;
  transition: all 200ms ease-in-out;
}
.document_aside_menu > * + * {
  margin-top: 0.375rem;
}
.bring_cover::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.2;
  background-color: rgb(65, 63, 63);
}

li > div {
  display: inline;
}

li > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-block: 0;
}

div > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-block: 0;
}

li > div > div {
  display: inline;
}

.required_info {
  display: none;
  opacity: 0;
  font-size: 14px;
  z-index: 10;
  border-radius: 0.25rem;
  position: absolute;
  top: 28px;
  right: 0;
  width: 12.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--light-gray);
  transition: all 100ms ease-in-out;
}

.required_info.open_info {
  display: block;
  opacity: 100;
}

.code_multi_opt {
  position: absolute;
  border-radius: 0.25rem;
  background-color: rgb(79, 80, 79);
  width: 10.5rem;
  height: 0;
  /*overflow: hidden; */
}

.code_multi_opt.open_options {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: fit-content;
  border: 1px solid var(--border-color);
}

.code_block {
  max-height: 350px;
  scrollbar-color: #9f9f9f #2c2c2c;
}

.code_block > pre {
  font-size: var(--font-medium) !important;
  max-height: 333px;
  overflow: auto !important;
  padding: 8px 16px !important;
  margin: 0 !important;
  background-color: transparent !important;
  scrollbar-color: #9f9f9f #2c2c2c;
}

.code_block > pre::-webkit-scrollbar-thumb {
  background-color: #dd0a0a;
  border-radius: 8px;
  border: 10px solid #f52323; 
}

.code_block > pre::-webkit-scrollbar-thumb:hover {
  background: #e0dede;
}

.custom_scrollbar {
  overflow: auto;
  scrollbar-color: #9f9f9f #2c2c2c;
  white-space: nowrap;
}

blockquote {
  padding-block: 0.25rem;
}

blockquote > div {
  margin-block: 0rem;
}

@media (min-width: 768px) {
  .document_aside_menu {
    display: block;
    width: 288px;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
    overflow-y: scroll;
    opacity: 1;
    transform: scale(1);
    flex-shrink: 0;
    pointer-events: all;
    font-size: var(--font-medium) !important;
  }
}

@media screen and (max-width: 500px) {
  .search_ele {
    flex: inherit;
  }
}

@media screen and (max-width: 768px) {
  .selector {
    display: none;
  }
}
